:root {
  --clr-text1: #ffffff;
  --clr-text2: #d3d3d3;
  --clr-background1: #4f6a13;
  --clr-background2: #2d4823;

  --ff-base: 'Open Sans', sans-serif;
  --ff-header: 'Times New Roman', Times, serif;

  --fw-n: 400;
  --fw-b: 700;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  color-scheme: dark;
}

body {
  margin: 0;
  font-family: var(--ff);
  font-size: 1.125rem;
  color: var(--clr-text1);
  background: url('assignment/graphics/bg.jpg');
  background-size: 100%;
  line-height: 1.5;
  text-align: center;
}

h1 {
  font-family: var(--ff-header);
  font-size: 4rem;
  letter-spacing: 0.4rem;
}

.main-container,
.sign-up {
  margin: 0 auto;
  width: 40em;
}

.main-container__intro {
  font-weight: var(--fw-n);
  font-weight: var(--fw-b);
}

.main-container__bubble_position_left,
.main-container__bubble_position_right,
.main-container__bubble_position_left-bottom {
  width: 20rem;
  height: 20rem;
  border-radius: 10rem;
  padding: 0 2rem;
  background-color: #4f6a13;
  margin: auto 0;
}

.main-container__bubble_position_left {
  margin-top: 3rem;
}

.main-container__bubble_position_right {
  position: relative;
  left: 22rem;
  margin-top: -6rem;
}

.main-container__bubble_position_left-bottom {
  margin-top: -5.6rem;
  margin-bottom: 3rem;
}

.main-container__bubble-img {
  margin-top: 1.15rem;
}

.main-container__bubble-heading {
  margin: 0;
}

.sign-up {
  margin-top: 4rem;
  padding: 2rem 0;
  background-color: var(--clr-background2);
  width: auto;
  height: 20rem;
}

.sign-up__header {
  text-transform: uppercase;
}

.sign-up__text {
  margin: auto;
  max-width: 60%;
}

.sign-up__link {
  color: var(--clr-text2);
  text-decoration: none;
}

.sign-up__link:hover {
  color: rgb(46, 86, 197);
}
