:root {
    --clr-text1: #ffffff;
    --clr-text2: #d3d3d3;
    --clr-background1: #4f6a13;
    --clr-background2: #2d4823;

    --ff-base: 'Open Sans', sans-serif;

    --fw-regular: 400;
    --fw-bold: 700;
}


